nav {
  grid-row: 1 / 4;
  .header {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      padding: 10px 0;
    }
    .button {
      background-color: var(--color-primary);
    }
  }
  ul {
    margin: 0;
    padding: 50px;
    padding-bottom: 0;
    li {
      list-style: none;
      padding: 10px;
      font-size: 0.8rem;
      border-radius: 5px;

      &:not(.active) {
        color: var(--color-text-muted);
      }
      &:hover,&.active {
        background-color: var(--active-bg-color);
        color: white;
      }
      &:hover {
        cursor: pointer;
      }
      i {
        margin-right: 5px;
      }
    }
  }
  .account {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 0;
    a {
      padding: 10px;
      font-size: 0.8rem;
      &:hover {
        background-color: var(--active-bg-color);
        color: white;
      }
    }
  }
}
